.signUp-div-background{
    margin: 0%;
    padding: 3%;
    
    background-color: #0d5449;
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    justify-items: center;
}


.signUp-div
{
    margin: 2% ;
    border-radius: 10%;
    text-align: left;
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10%;
    background-color: #d0eae9;
    grid-area: 1 / 1 / 2 / 2;
}



@media only screen and (max-width: 500px) {
    .signUp-div-background {
        grid-template-columns: 85%;
    }
  }