.main{
    color: white;
    background-color: #09aba0;
    margin: 2%;
    border-radius: 23px;
}

.div2{
    background: #bab3f1c7;
    padding: 2%;
    border-radius: 23px;
    margin: 2%;
}

.menu1{
    background: #0d5449;
}